<FlexboxLayout class="page">
	<StackLayout class="form">
		<Image class="logo" src="~/images/evince_logo.png"></Image>
		<Label class="header" text="Evince Demo"></Label>
			<GridLayout rows="auto, auto, auto">

				<StackLayout row="0" class="input-field">
					<TextField #firstname class="input" hint="First Name" [isEnabled]="!processing" autocorrect="false" autocapitalizationType="none"
					 [(ngModel)]="user.firstname" returnKeyType="next" (returnPress)="focusLastName()"></TextField>
					<StackLayout class="hr-light"></StackLayout>
				</StackLayout>
				<StackLayout row="1" class="input-field">
					<TextField #lastname class="input" hint="Last Name" [isEnabled]="!processing" autocorrect="false" autocapitalizationType="none"
					 [(ngModel)]="user.lastname" returnKeyType="next" (returnPress)="focusCompany()"></TextField>
					<StackLayout class="hr-light"></StackLayout>
				</StackLayout>

				<StackLayout row="2" class="input-field">
					<TextField #company class="input" [isEnabled]="!processing" hint="company" secure="true" [(ngModel)]="user.company"></TextField>
					<StackLayout class="hr-light"></StackLayout>
				</StackLayout>

				<ActivityIndicator rowSpan="3" [busy]="processing"></ActivityIndicator>
			</GridLayout>

			<Button [text]="'Submit'" [isEnabled]="!processing" (tap)="submit()" class="btn btn-primary m-t-20"></Button>

	</StackLayout>
	<Label class="login-label sign-up-label" (tap)="linkToHome()">
		<FormattedString>
			<Span [text]="'Go to list page.'"></Span>
		</FormattedString>
	</Label>
</FlexboxLayout>